@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Inter&display=swap');

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arvo", sana-serif;
}

li, a, button {
    font-family: "Arvo", Times;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 2%;
}

.logo {
    cursor: pointer;
}

.links {
    list-style: none;
}
.links li {
    display: inline-block;
    padding: 0px 20px;
}

.links li a {
    transition: all 0.3s ease 0s;
    color: rgb(243, 172, 202);
}

.links li a:hover {
    color: rgb(243, 100, 202);
}

button {
    padding: 9px 25px;
    background-color: rgb(242, 163, 196);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(243, 100, 202);
    
}

.banner {
    text-align: center;
}

.story h1 {
    padding: 10px;
}

.story h2 {
    padding: 10px;
    padding-left: 20px;
}

.footer-col {
    width: 25%;
    padding: 0 20px;
} 

.footer-col li {
    list-style: none;
}

.footer-col h3 {
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}

.footer-col h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    background-color: black;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    padding-left: 10px;
}


.footer {
    background-color: pink;
    padding: 40px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
*/

